.header {
  padding-top: 2rem;
  position: relative;
}

@media (max-width: 899px) {
  .header {
    padding-top: 0rem;
  }
}


.header_start {
  padding: .5rem 0 .5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.brand-logo {
  visibility: hidden;
  color: #F0F6F0;
  font-weight: 400;
}

.brand-logo img {
  height: 40px;
}

.brand-name a {
  color: #F0F6F0;
  padding: 0rem .5rem 0rem .5rem;
  font-weight: 400;
  width: 800px;
}

.brand-subtext a {
  color: #F0F6F0;
  padding: 0rem .5rem 0rem .5rem;
  font-weight: 400;
  font-size: large;
  visibility: hidden;
  position: absolute;
}

@media (max-width: 899px) {
  .brand-logo {
    visibility: visible;
    padding: 2rem .5rem .5rem .5rem;
  }

  .brand-name a {
    padding-top: 2rem;
    font-size: 20px;
  }
}

.header_middle {
  margin-left: auto;
}

.nav_wrapper {
  display: flex;
  align-items: center;
}

@media (max-width: 899px) {
  .header_middle {
    margin-left: 0;
  }
}

.nav_item a {
  display: block;
  font-size: large;
  font-weight: normal;
  padding: .5rem 2rem .5rem 2rem;
  color: #939498;
}

.nav_item a:hover {
  color: #F0F6F0;
}