/* #region      Banner */

.home-banner {
    position: relative;
    height: 80vh;
    width: 100vw;
}

.home-banner iframe {
    position: fixed;
    top: 20px;
    z-index: -10;
}

.home-greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 20;
}

.home-greeting h1 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 46px;
    line-height: 3rem;
    padding: 1rem 0 1rem 0;
}

.home-greeting h2 {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    font-size: 35px;
}

#banner-logo {
    padding: 8rem 0 0 0;
}

#arrow-down {
    margin-top: auto;
    width: 40px;
    margin-bottom: 40px;
}

.fade-on-scroll {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222323;
    opacity: 0;
    z-index: -4;
    cursor: pointer;
}

@media (max-width: 768px) {
    .home-banner {
        height: 80vh;
    }

    #banner-logo {
        visibility: hidden;
        width: 0rem !important;
        padding: 3rem 0 0 0;
    }

    .home-banner iframe {
        top: 20vh;
        width: 100vw;
        height: 80vh;
    }
}


/* #endregion    Banner */

h6 {
    padding: 0 0 1rem 4rem;
}



/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f0f6f0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}